<!doctype html>
<html>
    <head>
        <title>Simplepay - Core API</title>
        <script id="midtrans-script" type="text/javascript" src="https://api.midtrans.com/v2/assets/js/midtrans-new-3ds.min.js" data-environment="sandbox" data-client-key="{{.ClientKey}}"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="/assets/ccfield.js"></script>
        <link href="/assets/common.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.12/featherlight.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.12/featherlight.min.js"></script>
        
    </head>
    <body>
        <div class='cart'>
            <div class='popup'>
                <form action="/chargeDirect" method="post" id="card-form">
                    <div class='row header'>
                        <span>Items</span>
                        <span>Amount</span>
                    </div>

                    <div class='row items'>
                        <span>2</span>
                        <span>200000</span>
                    </div>

                    <div class='row items'>
                        <span>Card number</span>
                        <span class="input-span"><input type='text' id='card-number' value="4617 0069 5974 6656"/></span>
                    </div>

                    <div class='row items'>
                        <span>CVV</span>
                        <span class='input-span'><input type='text' id='card-cvv' value="123"/></span>
                    </div>

                    <div class='row items'>
                        <span>Exp. Month</span>
                        <span class='input-span'><input type='text' id='card-expmo' value="01"/></span>
                    </div>

                    <div class='row items'>
                        <span>Exp. Year</span>
                        <span class='input-span'><input type='text' id='card-expyear' value="2020"/></span>
                    </div>

                    <div class='row items'>
                        <span>3D Secure</span>
                        <span class='input-span'><input type='checkbox' name='secure' value="true" checked/></span>
                    </div>

                    <input type="hidden" id="card-token" name="card-token"/>

                    <div class='row checkout'>
                        <span><a href='/snap'>SNAP Example</a></span>
                        <span class='checkout-button'>Checkout</span>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <script type='text/javascript'>
        $(document).ready(function() {
            var card = {
                "card_number": $("#card-number").val(),
                "card_exp_month": $("#card-expmo").val(),
                "card_exp_year": $("#card-expyear").val(),
                "card_cvv": $("#card-cvv").val(),
                "secure": $('[name=secure]')[0].checked,
                "gross_amount": 200000
            };

            // callback functions
            var callback = {
                onSuccess: function(response){
                    // Success to get card token_id, implement as you wish here
                    console.log('Success to get card token_id, response:', response);
                    MidtransNew3ds.authenticate(response.redirect_url, options);
                },
                onFailure: function(response){
                    // Fail to get card token_id, implement as you wish here
                    console.log('Fail to get card token_id, response:', response);
                }
            };

            var options = {
                performAuthentication: function(redirect_url){
                    openDialog(redirect_url);
                },
                onSuccess: function(response){
                    closeDialog();
                    console.log('sukses');
                    console.log('response:',response);
                    console.log("SUBMIT");
                    $("#card-token").val(response.token_id);
                    $("#card-form").submit();
                },
                onFailure: function(response){
                    closeDialog();
                    console.log('gagal');
                    console.log('response:',response);
                    alert(response.status_message);
                },
                onPending: function(response){
                    closeDialog();
                    console.log('pending');
                    console.log('response:',response);
                }
            };

            $(".checkout-button").on("click", function() {
                MidtransNew3ds.getCardToken(card, callback);
            })

            function openDialog(url) {
                $.featherlight({
                iframe: url, 
                iframeMaxWidth: '80%', 
                iframeWidth: 700, 
                iframeHeight: 500,
                closeOnClick: false,
                closeOnEsc: false,
                closeIcon:''
                });
            }

            function closeDialog() {
                $.featherlight.close();
            }
        });
    </script>
</html>
