<!doctype html>
<html>
    <head>
        <title>Simplepay - Core API</title>
        <script src="https://api.sandbox.midtrans.com/v2/assets/js/midtrans.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
        <script src="/assets/ccfield.js"></script>
        <link href="/assets/common.css" rel="stylesheet"/>
    </head>
    <body>
        <div class='cart'>
            <div class='popup'>
                <form action="/chargeDirect" method="post" id="card-form">
                    <div class='row header'>
                        <span>Items</span>
                        <span>Amount</span>
                    </div>

                    <div class='row items'>
                        <span>2</span>
                        <span>200000</span>
                    </div>

                    <div class='row items'>
                        <span>Card number</span>
                        <span class="input-span"><input type='text' id='card-number' value="4011111111111112"/></span>
                    </div>

                    <div class='row items'>
                        <span>CVV</span>
                        <span class='input-span'><input type='text' id='card-cvv' value="123"/></span>
                    </div>

                    <div class='row items'>
                        <span>Exp. Month</span>
                        <span class='input-span'><input type='text' id='card-expmo' value="01"/></span>
                    </div>

                    <div class='row items'>
                        <span>Exp. Year</span>
                        <span class='input-span'><input type='text' id='card-expyear' value="2020"/></span>
                    </div>

                    <input type="hidden" id="card-token" name="card-token"/>

                    <div class='row checkout'>
                        <span><a href='/snap'>SNAP Example</a></span>
                        <span class='checkout-button'>Checkout</span>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <script type='text/javascript'>
        Veritrans.url = "https://api.sandbox.midtrans.com/v2/token";
        Veritrans.client_key = "VT-client-IKktHiy3aRYHljsw";

        $(document).ready(function() {
            $("#card-number").makeCreditCardField();

            function createTokenData() {
                return {
                    card_number: $("#card-number").val(),
                    card_cvv: $("#card-cvv").val(),
                    card_exp_month: $("#card-expmo").val(),
                    card_exp_year: $("#card-expyear").val(),
                    gross_amount: 200000,
                    // don't use 3DS
                    secure: false
                };
            }

            $(".checkout-button").on("click", function() {
                var form = $("#card-form");
                Veritrans.token(createTokenData, function(data) {
                    console.log("Token data: ", data);
                    if (data.token_id) {
                        $("#card-token").val(data.token_id);
                        console.log(data);
                        form.submit();
                    } else {
                        alert("There is an error when getting token")
                    }
                });
            })
        });
    </script>
</html>
